@charset "ISO-8859-1";

a:link, a:visited {
  color: #F2E37C;
  text-decoration: none;
}
a:hover {
  color: #F2E37C;
  text-decoration: underline;
}
a:active {
  color: #F55850;
  text-decoration: none;
}
th, td {
	border: 2px solid #5B594C;
	padding: 10px;
	background-color: #5B594C;
	text-align: center;
}
.coloriDispari {
	color: #F353E3;
	}
.coloriPari {
	color: white;
}

#tabellaArmi {
	border-width: 2px;
	border-colore: #5B594C;
	padding: 10px;
	color: #F6F6F2;
	background-color: #F2E37C;
}
