body {
  background-image: url(sfondo.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
a:link, a:visited {
  color: #F2E37C;
  text-decoration: none;
}
a:hover {
  color: #F2E37C;
  text-decoration: underline;
}
a:active {
  color: #F55850;
  text-decoration: none;
}
th, td {
	border: 2px solid #D8DB2D;
	padding: 10px;
	background-color: rgba(50, 50, 50, 0.85);
	text-align: center;
}
.coloriDispari {
	color: #C4C4C3;
	}
.coloriPari {
	color: white;
}

#tabellaArmi {
	border-width: 2px;
	border-color: #D8DB2D;
	padding: 1px;
	color: #D8DB2D;
	background-color: rgba(0, 0, 0, 0);
	border-collapse: collapse;
}