<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CatalogoSpade</display-name>
  <welcome-file-list>
    <!--  <welcome-file>index.html</welcome-file> -->
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>armaServlet</servlet-name>
  	<servlet-class>servlets.ArmaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>armaServlet</servlet-name>
  	<url-pattern>/armaServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <servlet-name>homeServlet</servlet-name>
    <servlet-class>servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeServlet</servlet-name>
    <url-pattern>/homeServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <servlet-name>dettaglioArmaServlet</servlet-name>
    <servlet-class>servlets.DettaglioArmaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dettaglioArmaServlet</servlet-name>
    <url-pattern>/dettaglioArmaServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<exception-type>javax.servlet.ServletException</exception-type>
  	<location>/errors/failure.jsp</location>
  </error-page>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/errors/notFound.html</location>
  </error-page>
</web-app>